@import '../../Style/Variables';

.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: $text__max-width;
  height: $height--default;
  padding: $spacing--default $spacing--large;
  margin-bottom: $spacing--default;

  color: $text__color--black;
  border: $border-width--default solid #eee;
  border-radius: $border-radius--default;
  list-style: none;

  transition: color, background-color ease-in-out 200ms;

  &--done {
    color: #999;
    text-decoration: none;
    background-color: #eee;
    .todo-list-item__description {
      text-decoration: line-through;
      text-decoration-color: #999;
    }
  }
}
