.app {
  text-align: center;
}

.app__logo {
  animation: spin infinite 20s linear;
  height: 13vmin;
}

.app__header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
