// sizes
$base: 6px;
$text__max-width: 1200px;

$height--default: $base * 4;
$height--small: $base * 3;
$height--large: $base * 5;

$spacing--default: $base / 2;
$spacing--small: $base / 3;
$spacing--large: $base;

$border-width--default: $base / 3;
$border-width--small: $base / 6;
$border-width--large: $base / 2;

$border-radius--default: $base / 2;
$border-radius--small: $base / 3;
$border-radius--large: $base;

// colors
$color--black: #333;
$color--white: #fff;

// text
$text__color--black: $color--black;
$text__color--white: $color--white;
